{% extends 'base.twig' %}

{% block content %}
<h2>{{ player.name }} stats</h2>
<main>
    <table class="stats small">
        <tr>
            <th>Sprint rank</th>
            <td>{{ player.sprint_rank }}</td>
        </tr>
        <tr>
            <th>Sprint tracks completed</th>
            <td>{{ player.sprint_count | number_format }}</td>
        </tr>
        <tr>
            <th>Sprint score</th>
            <td>{{ player.sprint_score | number_format }}</td>
        </tr>
        <tr>
            <th>Holdboost</th>
            <td><a href="http://holdboost.com/Player?steamID={{ player.steam_id }}" target="_blank">{{ player.holdboost_score | number_format }}</a></td>
        </tr>
    </table>

    <table class="stats">
        <tr>
            <th>Track</th>
            <th class="tw10">Track weight</th>
            <th class="tw10">Placement</th>
            <th class="tw15">Time</th>
            <th class="tw10">Raw score</th>
            <th class="tw10">Score</th>
        </tr>
        {% for track in tracks -%}
            <tr>
                <td class="text"><a href="/tracks/{{ track.id }}">{{ track.name }}</a></td>
                <td>{{ track.sprint_track_weight | number_format }}</td>
                <td>{{ track.rank | number_format }}</td>
                <td>{{ track.time }}</td>
                <td>{{ track.workshop_score | number_format }}</td>
                <td>{{ track.workshop_score_weighted | number_format }}</td>
            </tr>
        {% endfor %}
    </table>
</main>
{% endblock %}
